*, *:before, *:after {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
}
nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1em;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline;
    padding-right: 1em;
}
body article {
    border: none;
    display: flex;
    align-self: center;
    flex-direction: column;
    flex-grow: 5;
    max-width: 75vw;
}
footer {
    display: flex;
    justify-content: center;
}
form {
    display: grid;
    grid-template-columns: [labels] auto [controls] 1fr;
    grid-auto-flow: row;
    grid-gap: 0.5em;
    padding: 1em;
}
form > label  {
    grid-column: labels;
    grid-row: auto;
    justify-self: right;
    align-self: center;
}
form > input,
form > textarea,
form > button {
    grid-column: controls;
    grid-row: auto;
}