body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    display: flex;
    justify-content: center;
}
nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1em;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline;
    padding-right: 1em;
}
body article {
    border: none;
    display: flex;
    align-self: center;
    flex-direction: column;
    flex-grow: 5;
    max-width: 75vw;
}
footer {
    display: flex;
    justify-content: center;
}