project_id = "puzzad"
[api]
port = 54321
schemas = []
extra_search_path = ["extensions"]
max_rows = 1000
[db]
port = 54322
major_version = 14
[studio]
port = 54323
[inbucket]
port = 54324
smtp_port = 54325
pop3_port = 54326
[storage]
file_size_limit = "50MiB"
[auth]
site_url = "http://dev.puzzad.com"
additional_redirect_urls = []
jwt_expiry = 3600
enable_signup = true
[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = false
[auth.external.apple]
enabled = false
client_id = ""
secret = ""
redirect_uri = ""
url = ""
