{{ template "head.gohtml" . }}
<header>
    <h1>Puzzad</h1>
</header>
{{ template "menu.gohtml" . }}
<article>
    <p>
        You're logged in, see your purchases below and generate team codes.
    </p>
</article>
{{ template "foot.gohtml" . }}
