<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puzzad</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/hypertext-0.9.7.js"></script>
    <script defer src="/js/htmx-1.8.0.js"></script>
    <script defer src="/js/index.js"></script>
</head>
<body>