<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puzzad</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/htmx-1.8.0.js"></script>
    <script defer src="/js/index.js"></script>
</head>
<body>
<header>
    <h1>Puzzad</h1>
</header>
{{ template "menu.gohtml" . }}
<article>
    <p>This is the frontpage.</p>
</article>
<footer>
    <p>Footer</p>
</footer>
</body>
</html>