{{ template "head.gohtml" . }}
<header>
    <h1>Puzzad</h1>
</header>
{{ template "menu.gohtml" . }}
<article>
    <p>Welcome to Puzzad.  Here you'll be able to go on some puzzling adventures either alone or with friends, or at least you will when the site is finished and someone writes some adventures!</p>
</article>
{{ template "foot.gohtml" . }}
