<nav>
    <ul>
        <li><a href="/">Home</a></li>
        {{ if .Authed }}
            <li><a href="/admin">Admin</a></li>
        {{ end }}
        {{ if .Authed }}
            <li><a href="/logout">Logout</a></li>
        {{ else }}
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
        {{ end }}
    </ul>
</nav>