<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register.html">Register</a></li>
        {{ if .Authed }}
            <li><a href="/logout.html">Logout</a></li>
        {{ else }}
            <li><a href="/login.html">Login</a></li>
        {{ end }}
    </ul>
</nav>