{{ template "head.gohtml" . }}
<header>
    <h1>Puzzad</h1>
</header>
{{ template "menu.gohtml" . }}
<article>
    <p>
        Enter the code you received in the email address below to validate your email address.
    </p>
    <form hx-post="/validate" hx-disable-element="#submit">
        <label>Validation code: <input type="text" name="name" maxlength="20" required></label>
        <button id="submit" type="submit">Validate</button>
    </form>
</article>
{{ template "foot.gohtml" . }}
