<!DOCTYPE html>
<html lang="en-US" style="padding: 0; height: 100%; width: 100%;" height="100%" width="100%">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Puzzad: Password reset</title>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="background-color: #E6E0DF; padding: 0; height: 100%; width: 100%; text-align: center;">
<table border="0" cellpadding="0" cellspacing="0" style="margin: auto; padding: 0;" width="50%">
    <tr border="0" margin="0" style="border: 0; margin: 0">
        <td align="center" valign="top">
            <p style="font-size: 4em; font-weight: bold; margin: 0;">Puzzad</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 36px 48px; display: block; background-color: #CED4DD; border: 1px solid #dedede; box-shadow: 0 0.1em 0.5em rgba(0,0,0,.1); border-radius: 1em 1em 0 0;">
            <h1 style='font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; font-size: 1.5em; margin: 0; text-align: left;'>
                Password reset
            </h1>
        </td>
    </tr>
    <tr>
        <td valign="top" style='padding: 3em; background-color: #fff; color: #000; font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; font-size: 1em; text-align: left; border-radius: 0 0 1em 1em;'>
            <div>
                <p style="margin: 0;">A password has been initiated for an account associated with this email address.  In order to complete the request, please click the button below:</p>
                <p style="margin: 2em; text-align: center">
                    <a href="{{ .URL }}/setpass?code={{ .Code }}"
                       style='font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; background-color: #CED4DD; color: #000; text-decoration:none; border-radius: 0.5em; padding: 0.5em'>
                        Reset Password
                    </a>
                </p>
                <p style="margin: 0;">If you did not initiate this you can safely ignore the email.</p>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" valign="middle" style='border: 0; color: #000; font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; font-size: 1em; text-align: center;'>
            <p style="margin: 1em;">Puzzad Team</p>
        </td>
    </tr>
</table>
</body>
</html>


