/** General fixes **/

table {
  display: table;
  table-layout: auto;
}

select {
  background: var(--background);
  -webkit-appearance: menulist;
}

[role='alert'] {
  background: indianred;
}

/** Standard form layout **/
@media (max-width: 480px) {
  form.basic {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-flow: row;
  }

  form.basic > label {
    grid-row: auto;
  }

  form.basic > input,
  form.basic > button {
    grid-row: auto;
    padding: 1em;
    margin: .5em 0 .5em 0;
  }

  form.basic > button {
    grid-column: 2;
  }
}

@media (min-width: 480px) {
  form.basic {
    display: grid;
    grid-template-columns: [labels] auto [controls] 1fr;
    grid-auto-flow: row;
  }

  form.basic > label {
    grid-column: labels;
    grid-row: auto;
    padding-right: 1em;
  }

  form.basic > input,
  form.basic > button {
    grid-column: controls;
    grid-row: auto;
    border: none;
    padding: 1em;
  }

  form.basic > section {
    grid-column: controls;
    grid-row: auto;
    margin: 0;
    padding: 1em;
    border-radius: 6px;
    text-align: center;
    line-height: normal;
  }
}

/** Puzzle content formatting **/
section.tip {
  position: relative;
  border-top: 10px solid #e3bc5e;
  border-bottom: 2px solid #e3bc5e;
  background-color: rgba(227, 188, 94, .3);
  padding: 0 0.7em;
}

section.tip::before {
  float: right;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 10px;
  margin: 0 20px;
  content: "ℹ️ information";
  font-weight: bold;
  font-variant: small-caps;
  background-color: #e3bc5e;
  color: black;
}

section.story {
  position: relative;
  border-top: 10px solid #1c76c5;
  border-bottom: 2px solid #1c76c5;
  background-color: rgba(28, 118, 197, .3);
  padding: 0 0.7em;
}

section.story::before {
  float: right;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 10px;
  margin: 0 20px;
  content: "📖 story";
  font-weight: bold;
  font-variant: small-caps;
  background-color: #1c76c5;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  font-size: small;
  flex-grow: 2;
  border: 0;
}

footer p {
  border-top: 1px solid var(--border);
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
html {
  height: 100%;
  display: flex;
}
body {
  display: flex;
  flex-direction: column;
  margin: 1rem auto 1em auto;
  flex-grow: 2;
}
body > div {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

section.text {
  background-color: #222222;
  border-radius: 15px;
  padding: 1em;
  margin: 0 0 1em 0;
}

section.text h3 {
  border-image: linear-gradient(to right, #e3bc5e 0, #e3bc5e 50%, #222222 100%) 30 1;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: large;
}

section.text h4 {
  border-image: linear-gradient(to right, #e3bc5e 0, #e3bc5e 50%, #222222 100%) 30 1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 0;
  margin: 0.5em 0;
  font-weight: bold;
  font-size: medium;
}

section.text h5 {
  padding: 0;
  margin: 1em 0;
  font-weight: bold;
  font-size: medium;
}